@import "tailwindcss";

.btn{
    @apply hover:text-blue-700 cursor-pointer;
}

.active{
    @apply text-blue-700 cursor-default;
}

li a {
    position: relative;
    display: inline-block;
}

li a::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 2px;
    bottom: -2px;
    left: 0px;
    background: #1447e6;
    opacity: 0;
    transition: opacity 0.3s ease;
}

li a:hover::after,
li a.active::after {
  opacity: 1;
}

/* blue-900, blue-700, cyan-500, cyan-200, trueGray-200 */